@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 目录卡片滚动条样式 */
  *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 3px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: #4b5563;
  }

  .dark *::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }

  /* Font rendering optimizations */
  body,
  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    /* 添加标题锚点的滚动边距 */
    scroll-margin-top: 6rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.6;
  }

  .text-rose-custom {
    color: var(--clr-rose);
  }
}
