---
import { l, t } from 'astro-i18n';
import Main from '../layouts/Main.astro';
import SectionNavigation from '../components/SectionNavigation.astro';
import BriefText from '../components/BriefText.vue';

import { Image } from 'astro:assets';
import { getBlogs } from '../utils/getBlogs';

const sortedBlogs = await getBlogs();

const routeName = t('blogs.titre');
---

<Main pageTitle="Home">
  <div class="flex items-center flex-wrap pb-8 md:space-x-8 animate">
    <Image
      class="object-cover rounded-full w-[124px] h-[124px] max-md:w-24 max-md:h-24"
      src="https://avatars.githubusercontent.com/u/41514616?v=4"
      alt="Avatar"
      width={124}
      height={124}
      loading="eager"
    />

    <div class="flex-1 min-w-[300px] md:ml-4 max-[410px]:mt-4">
      <h1
        class="text-2xl sm:text-4xl font-bold text-gray-900 dark:text-gray-100 ml-4"
      >
        {t('homepage.hello')}
        {}
      </h1>
      <h2
        class="text-xl sm:text-2xl text-gray-700 dark:text-gray-300 mt-2 ml-4 h-4"
      >
        <BriefText
          briefs={[
            t('homepage.briefs.0'),
            t('homepage.briefs.1'),
            t('homepage.briefs.2'),
          ]}
          client:load
        />
      </h2>
      <p
        class="text-sm sm:text-base text-gray-600 dark:text-gray-400 mt-4 ml-4 text-wrap"
      >
        {t('homepage.slogan')}
      </p>
    </div>
  </div>
  <SectionNavigation />
  <div class="mt-12 animate">
    <h3 class="text-3xl text-gray-900 dark:text-gray-100 mb-4">
      {t('homepage.featuredBlogs.title')}
    </h3>
    <p class="text-gray-600 dark:text-gray-400 mb-8">
      {t('homepage.featuredBlogs.brief')}
    </p>
  </div>

  <ol class="space-y-4 animate">
    {
      sortedBlogs.map(blog => (
        <li class="border-b border-gray-200 dark:border-gray-700">
          <a
            class="block py-4 text-gray-900 dark:text-gray-100 transition-opacity duration-200 ease-in-out hover:opacity-70"
            href={l(
              `${import.meta.env.BASE_URL}/${routeName}/${blog.data.permalink}`,
            )}
          >
            {blog.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</Main>

<style>
  .floating-span {
    display: inline-block;
  }
  #copyLinkContainer.hidden {
    display: none;
  }
</style>
