---
export type Props = {
  to: string;
  title: string;
  gradientFrom: string;
  gradientTo: string;
};

const { to, title, gradientFrom, gradientTo } = Astro.props;
---

<a
  href={to}
  class={`card relative p-1 rounded-md transition-transform duration-200 ease-in-out hover:scale-90 overflow-hidden`}
>
  <div
    class="absolute -z-10 w-[500px] h-[500px] rounded-full -left-1/2 -top-1/2"
    style={{
      backgroundImage: `linear-gradient(to right, ${gradientFrom}, ${gradientTo})`,
      animation: 'rotate 5s linear infinite',
    }}
  >
  </div>
  <div
    class="card-inner bg-white dark:bg-[#18181b] p-6 rounded-md flex flex-col"
  >
    <div
      class="card-title text-gray-900 dark:text-gray-100 font-medium text-lg leading-7"
    >
      {title}
    </div>
    <div class="flex items-center justify-between mt-4">
      <div class="card-footer text-gray-900 dark:text-gray-100 text-sm">
        &rarr;
      </div>
    </div>
  </div>
</a>
<style>
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
