---

---

<section
  id="contact"
  class="flex flex-col justify-center items-center text-center gap-4 md:gap-6 lg:gap-8 xl:gap-10 container section animate"
>
  <div class="contact-img mt-8 flex gap-4">
    <!-- GITHUB -->
    <a
      href="https://github.com/Gao-Jinlong"
      target="_blank"
      class="footer-icon"
      aria-label="GitHub"
    >
      <svg
        class="github"
        width="44"
        height="44"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16 0C7.16 0 0 7.16 0 16C0 23.08 4.58 29.06 10.94 31.18C11.74 31.32 12.04 30.84 12.04 30.42C12.04 30.04 12.02 28.78 12.02 27.44C8 28.18 6.96 26.46 6.64 25.56C6.46 25.1 5.68 23.68 5 23.3C4.44 23 3.64 22.26 4.98 22.24C6.24 22.22 7.14 23.4 7.44 23.88C8.88 26.3 11.18 25.62 12.1 25.2C12.24 24.16 12.66 23.46 13.12 23.06C9.56 22.66 5.84 21.28 5.84 15.16C5.84 13.42 6.46 11.98 7.48 10.86C7.32 10.46 6.76 8.82 7.64 6.62C7.64 6.62 8.98 6.2 12.04 8.26C13.32 7.9 14.68 7.72 16.04 7.72C17.4 7.72 18.76 7.9 20.04 8.26C23.1 6.18 24.44 6.62 24.44 6.62C25.32 8.82 24.76 10.46 24.6 10.86C25.62 11.98 26.24 13.4 26.24 15.16C26.24 21.3 22.5 22.66 18.94 23.06C19.52 23.56 20.02 24.52 20.02 26.02C20.02 28.16 20 29.88 20 30.42C20 30.84 20.3 31.34 21.1 31.18C27.42 29.06 32 23.06 32 16C32 7.16 24.84 0 16 0V0Z"
          fill="currentColor"></path>
      </svg>
    </a>

    <!-- mail -->
    <a
      href="mailto:ginlon5241@gmail.com"
      target="_blank"
      class="footer-icon"
      aria-label="Email"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="44"
        height="44"
        viewBox="52 42 88 66"
      >
        <path fill="#4285f4" d="M58 108h14V74L52 59v43c0 3.32 2.69 6 6 6"
        ></path>
        <path fill="#34a853" d="M120 108h14c3.32 0 6-2.69 6-6V59l-20 15"></path>
        <path fill="#fbbc04" d="M120 48v26l20-15v-8c0-7.42-8.47-11.65-14.4-7.2"
        ></path>
        <path fill="#ea4335" d="M72 74V48l24 18 24-18v26L96 92"></path>
        <path
          fill="#c5221f"
          d="M52 51v8l20 15V48l-5.6-4.2c-5.94-4.45-14.4-.22-14.4 7.2"></path>
      </svg>
    </a>

    <!-- 稀土掘金 -->
    <a
      href="https://juejin.cn/user/2775585439885320"
      target="_blank"
      class="footer-icon"
      aria-label="Telegram"
    >
      <svg
        width="44"
        height="44"
        viewBox="0 0 36 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17.5875 6.77268L21.8232 3.40505L17.5875 0.00748237L17.5837 0L13.3555 3.39757L17.5837 6.76894L17.5875 6.77268ZM17.5863 17.3955H17.59L28.5161 8.77432L25.5526 6.39453L17.59 12.6808H17.5863L17.5825 12.6845L9.61993 6.40201L6.66016 8.78181L17.5825 17.3992L17.5863 17.3955ZM17.5828 23.2891L17.5865 23.2854L32.2133 11.7456L35.1768 14.1254L28.5238 19.3752L17.5865 28L0.284376 14.3574L0 14.1291L2.95977 11.7531L17.5828 23.2891Z"
          fill="#1E80FF"></path>
      </svg>
    </a>
  </div>

  <a href="http://beian.miit.gov.cn/" class="opacity-30"
    >备案号：鲁ICP备2024058644号</a
  >
</section>
<style>
  .footer-icon {
    transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 10px;
    filter: grayscale(100%);
  }
  .footer-icon:hover {
    filter: none;
  }
</style>
