---
import { ViewTransitions } from 'astro:transitions';
import { t } from 'astro-i18n';
const { pageTitle } = Astro.props;
---

<head>
  <!-- site meta -->
  <meta charset="utf-8" />
  <title>Ginlon | {pageTitle}</title>
  <link
    rel="icon"
    type="image/svg+xml"
    href={`${import.meta.env.BASE_URL}/favicon.svg`}
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <ViewTransitions />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    rel="stylesheet"
  />

  <!-- open graph -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={t('og.url')} />
  <meta property="og:title" content={t('og.title')} />
  <meta property="og:description" content={t('og.description')} />
  <meta property="og:image" content={t('og.image')} />

  <!-- twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={t('og.url')} />
  <meta property="twitter:title" content={t('og.title')} />
  <meta property="twitter:description" content={t('og.description')} />
  <meta property="twitter:image" content={t('og.image')} />

  <!-- seo -->
  <meta name="author" content="Ginlon" />
  <meta name="description" content={t('seo.description')} />
  <meta name="keywords" content={t('seo.keywords')} />

  <!-- clarity -->
  <script is:inline type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] =
        c[a] ||
        function () {
          (c[a].q = c[a].q || []).push(arguments);
        };
      t = l.createElement(r);
      t.async = 1;
      t.src = 'https://www.clarity.ms/tag/' + i;
      y = l.getElementsByTagName(r)[0];
      y.parentNode.insertBefore(t, y);
    })(window, document, 'clarity', 'script', 'm0nmyla1jj');
  </script>
</head>
