---
import { createGetStaticPaths } from 'astro-i18n';
import { getCollection } from 'astro:content';
import { getBlogs } from '../../utils/getBlogs';

type Blogs = Awaited<ReturnType<typeof getCollection>>;

export const getStaticPaths = createGetStaticPaths(async () => {
  const blogs = await getBlogs();

  return blogs.map(blog => ({
    params: { slug: blog.data.permalink },
    props: { article: blog },
  }));
});

const { article } = Astro.props as {
  article: Blogs[number];
};
const { Content } = await article.render();
---

<div>
  <Content />
</div>
