---
import { astroI18n } from 'astro-i18n';
// New astro content collections
import { getCollection } from 'astro:content';

// import BaseLayout from '../../layouts/BaseLayout.astro';
// import ListCards from '../../components/ListCards.astro';

const localizedPost = await getCollection('blogs', ({ data }) => {
  return data.lang === astroI18n.locale && !data.draft;
});

// const pageTitle = t('index.blogs.pageName');
---

<div>
  blogs index

  {
    localizedPost.map(post => (
      <div>
        <h2>{post.data.title}</h2>
        <p>{post.data.description}</p>
      </div>
    ))
  }
</div>

<style></style>
