---
import { t, l } from 'astro-i18n';
import Main from '../../layouts/Main.astro';
import { getBlogs } from '../../utils/getBlogs';

const sortedBlogs = await getBlogs();

const routeName = t('blogs.titre');
---

<Main pageTitle="blogs">
  <ol class="space-y-4 animate">
    {
      sortedBlogs.map(blog => (
        <li class="border-b border-gray-200 dark:border-gray-700">
          <a
            class="block py-4 text-gray-900 dark:text-gray-100 transition-opacity duration-200 ease-in-out hover:opacity-70"
            href={l(
              `${import.meta.env.BASE_URL}${routeName}/${blog.data.permalink}`,
            )}
          >
            {blog.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</Main>

<style></style>
