---
import '../styles/styles.css';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
import GridBackground from '../components/GridBackground.astro';
import Head from '../components/Head.astro';
// import { ViewTransitions } from 'astro:transitions';

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<html>
  <Head pageTitle={pageTitle} />

  <body class="overflow-x-hidden">
    <GridBackground />

    <main class="pb-12">
      <NavigationBar />
      <slot />
      <Footer />
    </main>

    <script>
      import gsap from 'gsap';

      document.addEventListener('astro:page-load', () => {
        gsap.from('.animate', {
          opacity: 0,
          y: 20,
          duration: 1,
          stagger: 0.2,
          ease: 'power2.out',
        });
      });
    </script>

    <script>
      import { useImageViewer } from './useImageViewer';

      useImageViewer({
        options: {},
      });
    </script>
  </body>
</html>
