---
import '../styles/styles.css';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
import GridBackground from '../components/GridBackground.astro';
import Head from '../components/Head.astro';
// import { ViewTransitions } from 'astro:transitions';

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<html>
  <Head pageTitle={pageTitle} />

  <body class="overflow-x-hidden">
    <GridBackground />

    <main class="pb-12" id="main">
      <NavigationBar />
      <slot />
      <Footer />
    </main>

    <script>
      import gsap from 'gsap';
      // import { useImageViewer } from './useImageViewer';

      document.addEventListener('astro:page-load', () => {
        gsap.from('.animate', {
          opacity: 0,
          y: 20,
          duration: 1,
          stagger: 0.2,
          ease: 'power2.out',
        });
      });

      // setTimeout(() => {
      //   const mainDom = document.getElementById('main')!;
      //   console.log('🚀 ~ mainDom:', mainDom);
      //   useImageViewer({
      //     element: mainDom,
      //   });
      // }, 3000);
    </script>
  </body>
</html>
